<head>
  <meta charset='<%= Rails.application.config.encoding %>' />
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
  <title>Holland Law and Title - Title Insurance for Denton, Corinth, Wise, Collin, Dallas, Tarrant, Ellis and Parker County</title>
  <meta name="description" content="Holland Law and Title provide personal and professional Title Insurance services for Denton, Wise, Collin, Dallas, Tarrant, Ellis and Parker counties.  They are a fee office for Lawyer's Title, and part of the Fidelity National Financial family, the largest title insurance and escrow services company in the world." />
  <meta name="keywords" content="Title Insurance Denton Corinth Wise Dallas Tarrant Ellis Parker County">
  <meta name="msvalidate.01" content="2184424C133B36FF073724EFD6B3EEB6" />
  <%= raw %(<link rel="canonical" content="#{@canonical}" />) if @canonical.present? -%>
  <%= csrf_meta_tags if Refinery::Core.authenticity_token_on_frontend -%>
  <%= yield :meta %>

  <%= stylesheet_link_tag "application", "formatting", "theme" %>
  <%= stylesheet_link_tag "home" if home_page? %>
  <%= yield :stylesheets %>

  <%= render '/refinery/google_analytics' %>

  <!-- javascript_include_tag 'modernizr-min' -->
</head>
